

<div class="top-wrap">

 <h1>ようこそ Bookers へ！</h1>

 <p class="text1"><span>Bookers </span>
  では、さまざまな書籍に関するあなたの意見や<br>
  <br>
  <br>
  印象を共有し交換することができます<br>
  <br>
  <br>
  <%= link_to "start","/books" %>
 </p> <!--indexのリンクへ飛ぶ-->

</div>
